<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
		<title></title>
		<link rel="stylesheet" href="css/home/addStudent.css" />
	</head>

	<body>
		<form action="" method="post">
			<label id="name">姓&nbsp;名：</label><input type="text" name="username" id="username" value="" placeholder="请输入姓名" /><span class="spa spa1"></span><br />
			<label id="phone">手机号：</label><input type="text" name="userphone" id="userphone" value="" placeholder="请输入手机号" /><span class="spa spa2"></span><br />
			<label id="address">邮&nbsp;箱：</label><input type="text" name="useraddress" id="useraddress" value="" placeholder="请输入地址" /><span class="spa spa3"></span><br />
			<label>&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="submit" value="添加" id="sub" />
		</form>
		<script src="js/lib/jquery-1.10.2.min.js"></script>
		<script src="js/addStudent.js"></script>
	</body>

</html>